# Realm
FIS_DOMAIN=fis.epn.ec
FIS_REALM=FIS.EPN.EC
LDAP_BASE_DN=dc=fis,dc=epn,dc=ec

# Red Docker (subred real usada en docker-compose.yml)
FIS_SUBNET=192.168.25.0/24
CA1_IP=192.168.25.5
IDM1_IP=192.168.25.11
IDM2_IP=192.168.25.12
LB1_IP=192.168.25.20
LB2_IP=192.168.25.21
VIP_IP=192.168.25.100
WEB1_IP=192.168.25.30
CLIENT_IP=192.168.25.40
CADVISOR_IP=192.168.25.50
PROMETHEUS_IP=192.168.25.51
GRAFANA_IP=192.168.25.52
LDAP_EXPORTER_IDM1_IP=192.168.25.53
LDAP_EXPORTER_IDM2_IP=192.168.25.54

# Credenciales (cambiar en despliegue real; estos son valores de ejemplo)
LDAP_ADMIN_PASSWORD=changeme123
KRB5_ADMIN_PASSWORD=changeme_admin
KRB5_USER_DEFAULT_PASSWORD=changeme_user
GRAFANA_ADMIN_PASSWORD=changeme_grafana